<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pinterest Home Clone</title>
  <link href="/stylesheets/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h3>
      <span class="logo">DarshilManiya</span> 
    </h3>
    <nav>
      <ul>
        <li>
          <a href="https://www.instagram.com/darshilmaniya05/">Instagram</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/darshil-maniya/">Linkedin</a>
        </li>
      </ul>
      <div class="buttons">
        <button onclick="window.location.href='/login'">Log in</button>
        <button onclick="window.location.href='/'">Sign Up</button>
    </div>
    
    </nav>
  </header>
  <div class="heading">
    <span class="text">
      Get your next
    </span>
    <div class="wrapper">
      <div class="offset"><h2 class="text animate-before">Career Step</h2> </div>
      <div class="offset"><h2 class="text animate-before">Success project</h2> </div>
      <div class="offset"><h2 class="text animate-before">Cup of coffee</h2> </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid">
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
    </div>
    <div class="grid">
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
    </div>
    <div class="grid">
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="column animate-before">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
    </div>
  </div>
  <script>
    const grids = document.querySelectorAll('.grid');
    const headings = document.querySelectorAll('.heading .wrapper .text')

    function enterScreen(index){
      const grid = grids[index]; 
      const heading = headings[index];
      const gridColumns = grid.querySelectorAll('.column');

      grid.classList.add('active');

      gridColumns.forEach( element => {
        element.classList.remove('animate-before', 'animate-after');
      })

      heading.classList.remove('animate-before', 'animate-after');
    }

    function exitScreen(index, exitDelay){
      const grid = grids[index]; 
      const heading = headings[index];
      const gridColumns = grid.querySelectorAll('.column');

      gridColumns.forEach( element => {
        element.classList.add('animate-after');
      })

      heading.classList.add('animate-after');
      
      setTimeout(()=>{
        grid.classList.remove('active');
      }, exitDelay)
    }

    function setupAnimationCycle({ timePerScreen, exitDelay }){
      //Delay time plus end animation time for all columns
      const cycleTime = timePerScreen + exitDelay;

      let nextIndex = 0;

      function nextCicle(){
        const currentIndex = nextIndex;

        enterScreen(currentIndex);

        setTimeout(()=> exitScreen(currentIndex, exitDelay), timePerScreen);

        nextIndex = nextIndex >= grids.length - 1 ? 0 : nextIndex + 1;
      }

      nextCicle();

      setInterval(nextCicle, cycleTime);
    }

    setupAnimationCycle({
      timePerScreen: 2000,
      exitDelay: 200 * 7,
    })
  </script>
</body>
</html>
